.journey-section {
  padding: 2rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.journey-title {
  margin-top: var(--section-gap);
  font-size: var(--font-title);
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 800px;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: calc(100% - 20px);
  background: linear-gradient(270deg, #61dafb, #ccc, #61dafb);
  background-size: 200% 200%;
  animation: gradient-move 3s infinite;
  z-index: 0;
  border-radius: 2px;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.timeline-item {
  padding: 1rem 0;
  padding-left: 2rem; /* Add space for the vertical bar */
  position: relative;
}

.timeline-content {
  padding: 0;
  background: none;
  box-shadow: none;
  width: 100%;
}

.timeline-content h3 {
  font-size: var(--font-text);
  margin-bottom: 0.5rem;
}

.timeline-content span {
  display: block;
  margin-bottom: 0.5rem;
}

.timeline-content p {
  font-size: var(--font-text);
  line-height: 1.6;
}

.timeline-divider {
  border: none;
  border-top: 1px solid #ddd; /* Light gray line */
  margin: 1rem 0; /* Spacing around the line */
}
